$color-primary: #ff473a;
$color-black: #050505;
$color-black-light: #d4d4d4;
$color-white: #fff;
$color-border: #f4f5f2;
$color-text-highlight: rgb(105 173 253 / 50%);

$font-family-sans: 'Montserrat', sans-serif;
$transition: 0.2s ease-in-out;

$gutter: 0.75rem;
$height-header: 3.75rem;

$offsite-width: 85vw;
$offsite-width-md: 50vw;
$offsite-width-lg: 25rem;

$screen-sm: 30rem;
$screen-md: 45rem;
$screen-lg: 62rem;
$screen-xl: 75rem;
