$color-primary: #FF473A;
$color-black: #050505;
$color-black-light: #D4D4D4;
$color-white: #fff;
$color-border: #F4F5F2;
$color-text-highlight: rgb(105 173 253 / 50%);

$font-family-sans: 'Montserrat', sans-serif;
$transition: 0.2s ease-in-out;

$gutter: 0.75rem;
$height-header: 3.75rem;
