/**
 * LOAD EXTRA FILES
 */
/**
  * Modify the input's placeholder text.
  */
/**
 * LOAD EXTRA FILES
 */
/**
 * INPUTS
 */
.input-group {
  position: relative;
}
.input-group .input {
  padding-right: 3rem;
}
.input-group__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
}
.input-group.button-left {
  display: flex;
}
.input-group.button-left .input-group__button {
  width: unset;
  height: unset;
  position: static;
}
.input-group.button-left .button {
  padding: 0.625rem 1.25rem 0.625rem 0;
}
.input-group.button-left .button--icon > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.input-group.button-left .input {
  height: 2.625rem;
}

.input {
  display: block;
  border: 2px solid currentColor;
  padding: 0 0.75rem;
  font-size: 1.125rem;
  width: 100%;
  height: 3rem;
}

/**
 * Buttons
 */
.button {
  display: inline-flex;
  background-color: #FF473A;
  color: #fff;
  padding: 0.75rem;
  border: none;
}
.button--icon {
  color: currentColor;
  background-color: transparent;
}
.button--icon > svg {
  width: 1.5rem;
  height: 1.5rem;
}
.button--link {
  padding: 0;
  background-color: transparent;
  color: #FF473A;
}

/**
 * BODY RESETS
 */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  line-height: 1.2;
  font-weight: 400;
  font-size: 1rem;
  color: #050505;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-moz-selection {
  background-color: rgba(105, 173, 253, 0.5);
}

::selection {
  background-color: rgba(105, 173, 253, 0.5);
}

button {
  font: inherit;
}

a {
  text-decoration: none;
  color: #FF473A;
}

/**
 * HEADER 
 */
.header {
  padding: 0 0.75rem;
  background-color: #fff;
  height: 3.75rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.logo {
  display: block;
  height: 2rem;
}
.logo__image {
  display: block;
  height: 100%;
  width: auto;
}

.page-title {
  text-align: center;
  margin: 0;
  font-size: 1.125rem;
  color: #FF473A;
}

.menu-toggle .icon {
  position: relative;
  z-index: 10;
  background-color: #fff;
  margin-left: auto;
  display: block;
  width: auto;
  height: 3rem;
  padding: 0.5rem 0;
  box-shadow: 1rem 0 0 0 #fff;
  transition: transform 0.2s ease-in-out;
}
.menu-toggle .icon > svg {
  margin-left: auto;
  display: block;
  width: auto;
  height: 100%;
}

/**
 * OFFSITE MENU
 */
.content {
  transition: transform 0.2s ease-in-out;
}

.offsite-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 85vw;
  box-shadow: 0 0 transparent;
  background-color: #FF473A;
  transform: translateX(-85vw);
  padding: 1.25rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.offsite-menu[aria-expanded=true] {
  transform: translateX(0);
  box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.25);
}
.offsite-menu .section {
  padding: 0;
  margin: 0;
}
.offsite-menu .button {
  color: #fff;
}
.offsite-menu .input {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.offsite-menu .input::-moz-placeholder {
  color: #fff;
}
.offsite-menu .input::placeholder {
  color: #fff;
}
.offsite-menu .input::-ms-input-placeholder {
  color: #fff;
}
.offsite-menu .input::-webkit-input-placeholder {
  color: #fff;
}
.offsite-menu .input::-moz-placeholder {
  color: #fff;
}
.offsite-menu .input:-moz-placeholder {
  color: #fff;
}
.offsite-menu a {
  color: #fff;
}

body.offsite-menu--expanded #content {
  transform: translateX(85vw);
}

body.offsite-menu--expanded #hamburger {
  transform: translateX(-85vw);
}

/**
 * NAVIGATION
 */
.navigation {
  margin: 1.25rem -1.25rem;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__item {
  margin-bottom: 0.75rem;
}
.navigation__link {
  min-height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.3125rem 1.25rem;
  gap: 1.25rem;
}
.navigation__link .icon {
  width: 1.875rem;
  height: 1.875rem;
}
.navigation__link .icon > svg {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}
.navigation__link:hover {
  background-color: #fff;
  color: #FF473A;
}

/**
 * MAIN CONTENT
 */
.main {
  padding-top: 3.75rem;
}

.section {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.section h2 {
  margin: 0;
}
.section .subtitle {
  max-width: 65%;
  color: #FF473A;
  font-size: 0.75rem;
  margin: 0.5em 0 0;
}
.section--search .input,
.section--search .button {
  color: #FF473A;
}
.section--search .input {
  border-color: #FF473A;
}
.section--search .input::-moz-placeholder {
  color: currentColor;
}
.section--search .input::placeholder {
  color: currentColor;
}
.section--search .input::-ms-input-placeholder {
  color: currentColor;
}
.section--search .input::-webkit-input-placeholder {
  color: currentColor;
}
.section--search .input::-moz-placeholder {
  color: currentColor;
}
.section--search .input:-moz-placeholder {
  color: currentColor;
}
.section--search .advanced-search-link {
  display: block;
  font-size: 0.75rem;
  padding: 0.25rem 0;
}

.collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.125rem;
}

.collection__image {
  width: 100%;
  display: block;
  aspect-ratio: 1/0.751515152;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.collection__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  max-width: 75%;
}
.collection h2.collection__title {
  margin: 0.625rem 0 0;
}

.tab {
  border-bottom: 2px solid #F4F5F2;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.tab__item {
  padding: 0 1rem 0.25rem 1rem;
  color: #D4D4D4;
}
.tab__item--active {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.5rem;
  color: #050505;
  border-bottom: 3px solid #FF473A;
  margin-bottom: -2px;
}

.cart__item {
  padding: 0 1rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.cart .product-name {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
}
.cart .product-name small {
  color: #D4D4D4;
}
.cart .product-quantity {
  margin-left: auto;
}
.cart .product-quantity .input-group {
  display: flex;
  align-items: center;
}
.cart .product-quantity-value,
.cart .product-quantity-button {
  padding: 0;
  height: 1.125rem;
}
.cart .product-quantity-button {
  color: #D4D4D4;
  border: 1px solid currentColor;
  width: 1.125rem;
  padding: 0;
}
.cart .product-quantity-button > svg {
  width: 100%;
  height: 100%;
}
.cart .product-quantity-value {
  width: 2rem;
  font-size: 1.125rem;
  text-align: center;
  border: none;
  height: 1.125rem;
  transition: color 0.2s ease-in-out;
}
.cart .product-quantity-value--empty {
  color: #D4D4D4;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  margin-top: 3.375rem;
  padding: 0.5rem 1rem;
  border-top: 2px solid #FF473A;
}
.cart-total > span:last-of-type {
  text-align: right;
}

.cart-submit {
  margin-top: 2rem;
  text-align: center;
}
.cart-submit .button {
  width: 100%;
  max-width: 70%;
  min-height: 2.625rem;
  font-size: 0.75rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
}

/**
 * CUSTOM SECTION MODIFICATIONS
 */
.section--ticket-purchase .date-picker {
  margin-top: 1.25rem;
}
.section--ticket-purchase .selected {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */